
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Produto</title>
</head>
<body>
    <div>
        <h2>Produto</h2>
        <p>@Model.prodId</p>
        <p>@Model.prodNome</p>
        <p>@Model.prodValor</p>
        <p>@Model.prodQtd</p>
    </div>
</body>
</html>
