
@{
    //Layout = null;//
}
<h1>Cliente</h1>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <p>@Model.cliId</p>
        <p>@Model.cliNome</p>
        <p>@Model.cliNasc</p>
        <p>@Model.cliEnd</p>
    </div>
</body>
</html>
