
@{
    //Layout = null;
}
<h1>Produto</h1>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <p>@Model.prodId</p>
        <p>@Model.prodNome</p>
        <p>@Model.prodValor</p>
        <p>@Model.prodQtd</p>
    </div>
</body>
</html>
