
@{
    //Layout = null;//
}
<h1>Venda</h1>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contato</title>
</head>
<body>
    <div>
        <p>@Model.vendaId</p>
        <p>@Model.vendaData</p>
        <p>@Model.vendaTotal</p>
    </div>
</body>
</html>
